@keyframes topToBottomLoading {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .loading-placeholder {
    opacity: 0;
    animation: topToBottomLoading 1s ease-in-out forwards;
  }
  
  .loading-delay-1 {
    animation-delay: 0.1s;
  }
  .loading-delay-2 {
    animation-delay: 0.2s;
  }
  .loading-delay-3 {
    animation-delay: 0.3s;
  }
  .loading-delay-4 {
    animation-delay: 0.4s;
  }
  .loading-delay-5 {
    animation-delay: 0.5s;
  }
  